<main id="mover_contenido">

    <div class="formulario_comentarios">

        <h4>Podes dejarnos tu comentario:</h4>

        <form action="/enviar_comentario" method="post">

            <input type="text" name="nombre" required placeholder="Nombre: ">

            <input type="email" name="email" required placeholder="E-mail: ">

            <textarea name="comentario" rows="5" cols="40" required placeholder="Comentario: "></textarea>

            <center><input type="submit" value="Enviar"></center>

        </form>

    </div>
    <div>
        {{#if error}}
        <h5>{{message}}</h5>
        {{/if}}
    </div>


</main>