<main id="mover_contenido">

    <div class="inicio">
        <div class="presentacion">
            <h1>Podes encontrar...</h1>
            <div class="info">
                <p></p>
            </div>
        </div>

        <div>
            <div class="novedades">
                <h2>Novedades</h2>
                <div class="imagen">
                    <img src="imagenes/novedades.jpg" alt="">
                </div>
                <div class="info_nov">
                    {{#each ultima_novedad}}
                    <h4>{{titulo}}</h4>
                    <h5 class="ultimo">{{subtitulo}}</h5>
                    <a class="boton" href="/novedades">Seguir leyendo...</a>
                    {{/each}}

                </div>
            </div>    


            <div class="concurso">
                <h2>Concurso literario</h2>
                <div class="info">
                    <img class="der" src="imagenes/concurso.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sint obcaecati voluptatum quia
                        officiis ab totam architecto id excepturi sit, maiores, at ratione autem laudantium natus
                        pariatur, iure incidunt itaque?.1</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque exercitationem numquam quam
                        debitis praesentium earum minus accusamus odit illo iusto enim fugiat architecto perferendis,
                        eum, laudantium sunt explicabo et voluptates rerum maxime! Aliquid sequi optio quia autem ullam
                        eum quae ipsa consequuntur recusandae consectetur quaerat distinctio atque ipsum animi quibusdam
                        vel harum qui iusto, eius voluptas nemo? Officia, facilis porro?2</p>
                    <p class="ultimo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque possimus provident
                        quos assumenda adipisci tempore quas deserunt fugiat molestiae nam, cumque sequi est sint odit
                        ipsa fugit hic beatae tempora quia voluptatibus omnis unde deleniti voluptates? Animi culpa
                        blanditiis ipsam perferendis perspiciatis iusto repellat. Nemo ipsum numquam minima hic natus
                        quasi neque accusantium, molestiae dicta ea nihil necessitatibus pariatur harum beatae, vero
                        odit laboriosam atque aut. Atque soluta temporibus adipisci optio. Tempora beatae molestiae
                        ullam incidunt doloribus sed consequuntur sunt earum illum corporis ex iure nobis magnam odio,
                        at architecto qui debitis id? Magni delectus impedit, eius expedita quibusdam consequuntur
                        voluptate aut fugit rerum at! Non possimus dolor doloremque, sint eos pariatur corrupti expedita
                        eius nisi aliquid obcaecati distinctio numquam? ULTIMO</p>
                </div>
                <a class="boton" href="#">Seguir leyendo...</a>
            </div>

            <div class="libro_mes">
                <div><h2>Libro del mes</h2></div>
                <div class="libroY">
                    <img src="imagenes/el_manuscrito.jpg" alt="El manuscrito">
                    <!--<h1  class="titulo">El manuscrito</h1>-->
                </div>

                <!--<div class="ejemplar">
                    <div class="libro">
                        <div class="frente">
                            <h1>libro del mes</h1>
                        </div>
                        <div class="atras">
                            <img src="imagenes/el_manuscrito.jpg" alt="El manuscrito"></div> 
                    </div>
                </div>-->

                <div class="info">
                    <h3>El Manuscrito</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores ipsum laborum, quis quia magnam
                        odit tempora quasi quae ut minima commodi officiis dicta? Labore animi ullam rerum fuga
                        provident vel voluptates asperiores nesciunt enim quisquam praesentium quod suscipit, aspernatur
                        recusandae doloremque vero. Amet quaerat laboriosam aut, nostrum eius quod accusantium explicabo
                        dignissimos similique iure quo quam earum odio, itaque, dolorem non quas. Id, enim doloribus.
                    </p>
                    <p class="ultimo"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolore voluptatum
                        consectetur numquam maiores. Aliquid iusto similique impedit laborum odio officia, odit velit
                        cum molestiae, dicta et quis commodi est, excepturi fugit! Dolores vitae at sit eligendi nisi
                        tempora, esse asperiores? Placeat, amet dolorum! Aut earum, voluptates minus, ab qui eaque
                        consectetur nam dolorum nihil nobis corporis ex nulla nisi et unde veritatis, assumenda
                        reprehenderit laboriosam. Dolorum delectus vero repellendus aliquam, voluptates nobis sint eaque
                        cumque, temporibus animi, ducimus voluptate laboriosam! Tempora natus totam explicabo illo dolor
                        dicta nisi sint cupiditate enim ?.ULTIMO</p>
                </div>
                <a class="boton" href="/descargar">Seguir leyendo...</a>
            </div>

            <div class="entrevista">
                <h2>Entrevistas, hoy...</h2>
                <h3>Diane Wei Liang</h3>
                <div class="info">
                    <img class="izq" src="imagenes/diane_wei_liang.jpg" alt="">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas corporis, velit magnam accusamus
                        consectetur commodi facilis libero, quam laboriosam numquam ut dicta. Odio itaque esse quae
                        molestias voluptates possimus consequatur nobis, impedit sequi explicabo ut dolores dicta in
                        quo! Quo earum eum enim magni itaque blanditiis quasi ipsum voluptatum, dolorem repellendus
                        fugit ullam eius reiciendis deleniti quae optio voluptatem. Consequatur mollitia aspernatur
                        debitis. Nam quidem nesciunt sed qui libero necessitatibus ratione ullam impedit. Libero quasi
                        praesentium numquam eos, laudantium illo autem velit quo illum? Eius numquam officiis provident
                        fugiat soluta?1</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque alias voluptatibus architecto,
                        ipsum perspiciatis error eos illo! Modi quod voluptates nesciunt in hic sint rerum suscipit,
                        eaque iste tempore deserunt. Voluptates sunt maiores maxime veniam velit officiis consectetur
                        nemo id? Vel laboriosam eveniet tenetur incidunt dolorem? Libero dicta est velit amet commodi
                        minus tempore ipsum, doloremque a quae dignissimos voluptatibus placeat harum illo natus ipsam
                        cum. Necessitatibus totam quos perspiciatis consequuntur odit magni quo.2</p>
                    <p class="ultimo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quidem nam voluptate
                        sunt placeat nobis nisi omnis officiis cumque dolores voluptatum pariatur repudiandae, facere,
                        quod esse iusto aliquam quis. Sit numquam, aperiam, ad praesentium error maxime ex enim, sequi
                        suscipit unde architecto incidunt vero soluta. Ea cumque assumenda, repellendus inventore
                        doloribus voluptatum veritatis harum. Eius quasi optio, aspernatur officia facere amet inventore
                        ipsa accusantium reprehenderit aut? Exercitationem commodi neque maxime explicabo provident
                        magnam et porro sed quod, laborum non quo sit. Fugit nam pariatur consequatur illum explicabo
                        quidem doloremque cum quis, animi quas molestiae sint repellendus, inventore dolore eveniet?
                        Non. .ULTIMO
                    </p>
                </div>
                <a class="boton" href="#">Seguir leyendo...</a>
            </div>

            <div class="promociones">
                <h2>Promociones</h2>

            </div>
        </div>

        <div class="informacion">
            <div class="direccion">
                <h4>Estamos en:</h4>
                <p>Direción:Carlos H. Rodriguez 390</p>
                <p>Teléfono: 299-4484513</p>
            </div>
            <div class="horario">
                <h4>Nuestro horario:</h4>
                <p>Lunes a viernes: 09:00hs. a 17:00hs.</p>
                <p>Sábados: 09:00hs. a 13:00hs.</p>
            </div>

            <div class="redes">

                <h4>También nos encontras en:</h4>

                <ul>
                    <li><a href="#"><img src="imagenes/face.png"></a></li>
                    <li><a href="#"><img src="imagenes/twitter.png"></a></li>
                    <li><a href="#"><img src="imagenes/instagram.jpg"></a></li>
                    <li><a href="#"><img src="imagenes/youtube.png"></a></li>
                </ul>
            </div>
        </div>

    </div>

</main>