<main id="mover_contenido">

    <div class="comentarios">

        <h2>Ultimas Novedades</h2>

        {{#each novedades}}

        <div class="comentario">
            <h3>{{titulo}}</h3>
            <h4>{{subtitulo}}</h4>
            <p>{{{cuerpo}}}</p>
        </div>
        {{/each}}
    </div>

</main>